<div class="logo-container">
  <a routerLink="/">
    <img height="40" src="/assets/full-logo.svg" alt="Логотип beCycled">
  </a>
</div>

<nav class="main-navigation">
  <ul class="main-navigation-list">
    <li class="main-navigation-list-item">
      <a
        tuiButton
        appearance="flat"
        size="m"
        routerLink="/"
        [class.active-router-link]="isActiveRoute('/')"
      >Афиша</a>
    </li>
    <li class="main-navigation-list-item">
      <a
        tuiButton
        appearance="flat"
        size="m"
        routerLink="/feed"
        [class.active-router-link]="isActiveRoute('/feed')"
      >Лента</a>
    </li>
    <li class="main-navigation-list-item">
      <a
        tuiButton
        appearance="flat"
        size="m"
        routerLink="/communities"
        [class.active-router-link]="isActiveRoute('/communities')"
      >Сообщества</a>
    </li>
    <li class="main-navigation-list-item">
      <a
        tuiButton
        appearance="flat"
        size="m"
        routerLink="/posts"
        [class.active-router-link]="isActiveRoute('/posts')"
      >Статьи</a>
    </li>

    <li class="main-navigation-list-item">
      <a
        tuiButton
        appearance="flat"
        size="m"
        routerLink="/about"
        [class.active-router-link]="isActiveRoute('/about')"
      >О проекте</a>
    </li>
  </ul>
</nav>

<div class="user-info-container" *ngIf="isUserAuthorized$ | async">
  <b class="user-name">
    {{ userFirstName$ | async }}
  </b>
  <tui-hosted-dropdown [content]="dropdownContentRef" [(open)]="isOpenedDropdown">
    <button tuiIconButton appearance="icon" type="button" shape="rounded" [icon]="iconRef"></button>
  </tui-hosted-dropdown>

  <ng-template #iconRef>
    <tui-avatar
      size="s"
      [avatarUrl]="userAvatar$ | async"
      [rounded]="true"
    ></tui-avatar>
  </ng-template>

  <ng-template #dropdownContentRef>
    <tui-data-list role="menu">
      <a tuiOption role="menuitem" [routerLink]="profileRouterLink$ | async" (click)="onClickDropdownItem()">Мой профиль</a>
      <a tuiOption role="menuitem" [routerLink]="profileSettings$ | async" (click)="onClickDropdownItem()">Мои настройки</a>
      <button type="button" tuiOption role="menuitem" (click)="onClickLogoutButton(); onClickDropdownItem()">Выйти
      </button>
    </tui-data-list>
  </ng-template>
</div>

<div class="unauthorized-user-info-container" *ngIf="isUserUnauthorized$ | async">
  <a class="login-button" routerLink="/auth/login" size="m" tuiButton (click)="captureRedirectUrl()">Войти</a>
  <a class="register-button" routerLink="/auth/registration" size="m" (click)="captureRedirectUrl()" tuiButton
     appearance="outline">Регистрация</a>
</div>
