:host {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0.5rem 1rem;

  background-color: white;

  box-shadow: 0 4px 24px rgb(0 0 0 / 12%);
}

.logo-container {
  width: 150px;
  margin-right: 2rem;
}

.main-navigation-list {
  display: flex;
}

.main-navigation-list-item:not(:last-child) {
  margin-right: 1rem;
}

.main-navigation-list-item {
  & a {
    position: relative;

    display: flex;
    align-items: center;
    height: 60px;

    font-size: 16px;
  }
}

.active-router-link::after {
  position: absolute;
  bottom: -8px;

  display: block;
  width: 100%;
  height: 2px;

  background-color: var(--tui-primary);

  content: "";
}

.main-navigation {
  flex-grow: 1;
}

.login-button {
  margin-right: 1rem;
}
