:host {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0.5rem calc(50% - 684px);

  background-color: white;

  box-shadow: var(--default-shadow);
}

.logo-container {
  margin-right: 2rem;

  a {
    display: block;
  }

  img {
    display: block;
  }
}

.main-navigation-list {
  display: flex;
}

.active-router-link::after {
  position: absolute;
  bottom: -8px;

  display: block;
  width: 100%;
  height: 3px;

  background-color: var(--tui-primary);

  content: "";
}

.main-navigation {
  flex-grow: 1;
}

.login-button {
  margin-right: 1rem;
}

.user-info-container {
  display: flex;
  align-items: center;
}
