<h1>Пользовательское соглашение</h1>

<h2>Условия использования онлайн-сервиса beCycled</h2>

<h3>Общие положения</h3>

<ol>
  <li>1.1. Настоящие Условия использования регулируют отношения пользователей с онлайн-сервисом beCycled (далее — сервис).</li>
  <li>1.2. Пользователем сервиса является любое физическое лицо или сотрудник юридического лица, зарегистрированные в сервисе.</li>
</ol>

<h3>Регистрация пользователей</h3>

<ol>
  <li>2.1. Любой пользователь сети Интернет может бесплатно зарегистрировать учётную запись пользователя сервиса.</li>
  <li>2.2. Для регистрации в сервисе пользователь должен указать действительный адрес электронной почты. При регистрации пользователь должен подтвердить, что он имеет доступ к указанному адресу электронной почты.</li>
</ol>

<h3>Права и обязанности пользователя</h3>

<ol>
  <li>3.1. Пользователь сервиса вправе использовать свою учётную запись для санкционированного доступа к информации, содержащейся на сервисе; удалить свою учётную запись.</li>
  <li>3.2. Пользователь сервиса обязан не производить действия, направленные на нарушение процесса функционирования сервиса или информационных систем, подключенных к сервису; соблюдать требования «Политики конфиденциальности».</li>
</ol>

<h3>Права и обязанности сервиса</h3>

<ol>
  <li>4.1. Сервис вправе проводить мониторинг действий пользователя; ограничивать доступ пользователя к информации на сервисе, в том числе путём блокировки учётной записи пользователя; изменить настоящие условия использования сервиса без предварительного уведомления пользователя; направлять пользователю информационные сообщения.</li>
  <li>4.2. Сервис обязан обеспечить функционирование, гарантировать целостность и неизменность данных пользователей; обеспечить защиту персональных данных пользователя в соответствии с требованиями законодательства РФ и «Политикой конфиденциальности».</li>
</ol>

<h3>Обратная связь</h3>

<ol>
  <li>5.1. Все предложения и вопросы по использованию сервиса следует направлять в службу поддержки support@becycled.me.</li>
</ol>
