<form class="b-form" [formGroup]="form">
  <tui-input-date-time
    formControlName="date"
    [min]="buildCurrentDate()"
  >
    Выберите дату и время
  </tui-input-date-time>
</form>

<mgl-map
  [style]="'mapbox://styles/mapbox/streets-v11'"
  [attributionControl]="false"
  [doubleClickZoom]="false"
  [zoom]="15"
  [preserveDrawingBuffer]="true"
  [center]="[ 39.949127487394094,43.414052415946685 ]"
  (mapLoad)="onMapboxLoad($event)"
  (mapClick)="onMapClick($event)"
  (mapDblClick)="onDblMapClick()"
>
  <mgl-geojson-source
    id="geojson-route"
    [data]="geoJson"
  >
  </mgl-geojson-source>
  <mgl-layer
    id="route"
    type="line"
    source="geojson-route"
    [paint]="{
      'line-color': '#FC6719',
      'line-width': 4
    }"
  >
  </mgl-layer>
  <mgl-control mglNavigation></mgl-control>
</mgl-map>

<img width="600" [attr.src]="preview">
