:host {
  display: block;
}

mgl-map {
  width: 100%;
  height: 400px;
  margin-bottom: 18px;

  border-radius: var(--tui-radius-l);

  overflow: hidden;
}

::ng-deep {
  .start-point,
  .end-point {
    width: 24px;
    height: 24px;

    border-radius: 50%;

    cursor: pointer;
  }

  .start-point {
    background-color: var(--cy-success);
  }

  .end-point {
    background-color: tomato;
  }
}
