:host {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 599px) {
  .sidebar {
    width: 300px;
    order: 1;
    padding-top: 16px;
  }

  .main-thread {
    flex-grow: 1;
    margin-right: 1rem;
  }

  :host {
    flex-direction: row;
  }
}
