<tui-island *tuiLet="workout$ | async as workout">
  <ng-container *ngIf="workout">
    <h3 class="tui-island__title">{{ generateStartTime(workout.startDate) }}</h3>
    <p class="tui-island__category">Тренировка</p>
    <mgl-map
      [style]="'mapbox://styles/mapbox/streets-v11'"
      [fitBounds]="bounds | async"
      [fitBoundsOptions]="{ padding: 8, linear: true }"
      [attributionControl]="false"
      [doubleClickZoom]="false"
      [zoom]="15"
      [center]="[ 39.949127487394094,43.414052415946685 ]"
      (mapLoad)="onMapboxLoad($event)"
    >
      <mgl-geojson-source
        id="geojson-route"
        [data]="geoJson | async"
      >
      </mgl-geojson-source>
      <mgl-layer
        id="route"
        type="line"
        source="geojson-route"
        [paint]="{
      'line-color': '#FC6719',
      'line-width': 2
    }"
      >
      </mgl-layer>
      <mgl-control mglNavigation></mgl-control>
    </mgl-map>
    <ul class="icon-list">
      <li>
      <span class="material-icons">
        emoji_people
      </span>
        <span>
        Вид спорта: {{ sportTypeMap[workout.sportType] }}
      </span>
      </li>
      <li>
      <span class="material-icons">
        moving
      </span>
        <span>
        Дистанция: {{ generateDistanceString(distance | async) }}
      </span>
      </li>
      <li>
      <span class="material-icons">
        access_time
      </span>
        <span>
        Длительность: {{ generateDurationString(workout.duration) }}
      </span>
      </li>
      <li>
      <span class="material-icons">
        place
      </span>
        <span>
        Место сбора: {{ workout.venue }}
      </span>
      </li>
      <li>
      <span class="material-icons">
        description
      </span>
        <span>
        Описание: {{ workout.description }}
      </span>
      </li>
      <li>
      <span class="material-icons">
        group
      </span>
        <span>
        Участники: {{ workout.userIds.length }}
      </span>
      </li>
    </ul>
  </ng-container>
</tui-island>
