.button-container {
  display: flex;
  justify-content: space-between;
}

.community-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 8px;
}

.community-avatar {
  margin-right: 12px;

  border-radius: 50%;
}
