<tui-island *tuiLet="workout$ | async as workout">
  <ng-container *ngIf="workout">
    <h3 class="tui-island__title">{{ generateStartTime(workout.startDate, false) }}</h3>
    <p class="tui-island__category">Тренировка</p>
    <mgl-map
      [style]="'mapbox://styles/mapbox/streets-v11'"
      [fitBounds]="bounds$ | async"
      [fitBoundsOptions]="{ padding: 8, linear: true }"
      [attributionControl]="false"
      [doubleClickZoom]="false"
      [zoom]="15"
      [center]="[ 38.97616408756599, 45.04022357823186 ]"
      (mapLoad)="onMapboxLoad($event)"
    >
      <mgl-geojson-source
        id="geojson-route"
        [data]="geoJson$ | async"
      >
      </mgl-geojson-source>
      <mgl-layer
        id="route"
        type="line"
        source="geojson-route"
        [paint]="{
          'line-color': '#0093D1',
          'line-width': 4
        }"
      >
      </mgl-layer>
      <mgl-control mglNavigation></mgl-control>
      <mgl-control position="bottom-right" mglFullscreen></mgl-control>
    </mgl-map>
    <ul class="icon-list">
      <li>
      <span class="material-icons-outlined">
        emoji_people
      </span>
        <span>
        Вид спорта: {{ sportTypeMap[detectSportTypeByEventType(workout.eventType)] }}
      </span>
      </li>
      <li>
      <span class="material-icons-outlined">
        moving
      </span>
        <span>
        Дистанция: {{ generateDistanceString(distance$ | async) }}
      </span>
      </li>
      <li *ngIf="workout.duration > 0">
      <span class="material-icons-outlined">
        access_time
      </span>
        <span>
        Длительность: {{ generateDurationString(workout.duration) }}
      </span>
      </li>
      <li>
      <span class="material-icons-outlined">
        description
      </span>
        <span>
        Описание: {{ workout.description }}
      </span>
      </li>
      <li>
      <span class="material-icons-outlined">
        group
      </span>
        <span>
        Участники: {{ workout.memberUserIds.length }}
      </span>
      </li>
    </ul>
  </ng-container>
</tui-island>
