:host {
  display: block;
  padding: var(--mobile-container-padding) var(--mobile-container-padding) calc(var(--menu-height) + var(--mobile-container-padding));
}

.poster-container {
  margin: 0;
}

.poster-container img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  :host {
    max-width: 570px;
    margin: 0 auto;
    padding: var(--desktop-container-padding) 0;
  }
}
