:host {
  display: block;
  padding: 1rem 1rem calc(1rem + 72px);
}

.poster-container {
  margin: 0;
}

.poster-container img {
  max-width: 100%;
}

@media screen and (min-width: 599px) {
  :host {
    max-width: 570px;
    margin: 0 auto;
    padding: 0;
  }
}
