<tui-root [class.is-toolbar-show]="isToolbarShow$ | async">
  <cy-header *ngIf="isDesktop | async"></cy-header>

  <cy-toolbar *ngIf="isToolbarShow$ | async"></cy-toolbar>

  <router-outlet></router-outlet>

  <cy-menu *ngIf="isMobileChanges | async"></cy-menu>

  <ng-container ngProjectAs="tuiOverDialogs">
    <!-- Content over dialogs-->
  </ng-container>
  <ng-container ngProjectAs="tuiOverNotifications">
    <!-- Content over notifications -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverPortals">
    <!-- Content over dropdowns -->
  </ng-container>
  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>
</tui-root>
