<tui-island *tuiLet="competition$ | async as competition">
  <ng-container *ngIf="competition">
    <header class="event-header">
      <h3 class="tui-island__title">{{ generateStartTime(competition.startDate, false) }}</h3>

      <tui-hosted-dropdown [content]="dropdownContentRef" *ngIf="isCanEdit$ | async">
        <button
          type="button"
          tuiButton
          size="s"
          appearance="flat"
        >
          <span class="material-icons-outlined">
            more_vert
          </span>
        </button>
      </tui-hosted-dropdown>

      <ng-template #dropdownContentRef>
        <tui-data-list role="menu">
          <!--            <button type="button" tuiOption role="menuitem">Изменить</button>-->
          <button type="button" tuiOption role="menuitem" (click)="showDeleteDialog(deleteDialogRef)">Удалить</button>
        </tui-data-list>
      </ng-template>

      <ng-template #deleteDialogRef let-observer>
        <p>Удалить тренировку?</p>
        <div class="button-container">
          <button
            tuiButton
            type="button"
            size="m"
            appearance="secondary"
            (click)="observer.complete()"
          >
            Нет
          </button>
          <button
            tuiButton
            type="button"
            size="m"
            (click)="onDeleteButtonClick(competition.id); observer.complete()"
          >
            Да
          </button>
        </div>

      </ng-template>
    </header>
    <p class="tui-island__category">Соревнование</p>
    <mgl-map
      [style]="'mapbox://styles/mapbox/streets-v11'"
      [fitBounds]="bounds$ | async"
      [fitBoundsOptions]="{ padding: 8, linear: true }"
      [attributionControl]="false"
      [doubleClickZoom]="false"
      [zoom]="15"
      [center]="[ 38.97616408756599, 45.04022357823186 ]"
      (mapLoad)="onMapboxLoad($event)"
    >
      <mgl-geojson-source
        id="geojson-route"
        [data]="geoJson$ | async"
      >
      </mgl-geojson-source>
      <mgl-layer
        id="route"
        type="line"
        source="geojson-route"
        [paint]="{
          'line-color': '#0093D1',
          'line-width': 4
        }"
      >
      </mgl-layer>
      <mgl-control mglNavigation></mgl-control>
      <mgl-control position="bottom-right" mglFullscreen></mgl-control>
    </mgl-map>
    <ul class="icon-list">
      <li>
      <span class="material-icons-outlined">
        emoji_people
      </span>
        <span>
        Вид спорта: {{ sportTypeMap[detectSportTypeByEventType(competition.eventType)] }}
      </span>
      </li>
      <li
        *ngIf="detectSportTypeByEventType(competition.eventType) === 'BICYCLE' && competition[ 'bicycleType' ] !== null">
      <span class="material-icons-outlined">
        pedal_bike
      </span>
        <span>
        Велосипед: {{ bicycleTypeMap[competition['bicycleType']] }}
      </span>
      </li>
      <li *ngIf="competition.eventType === 'BICYCLE_COMPETITION' && competition[ 'bicycleCompetitionType' ] !== null">
      <span class="material-icons-outlined">
        emoji_events
      </span>
        <span>
        Вид гонки: {{ bicycleCompetitionTypeMap[competition['bicycleCompetitionType']] }}
      </span>
      </li>
      <li>
      <span class="material-icons-outlined">
        moving
      </span>
        <span>
        Дистанция: {{ generateDistanceString(distance$ | async) }}
      </span>
      </li>
      <li *ngIf="competition.duration > 0">
      <span class="material-icons-outlined">
        access_time
      </span>
        <span>
        Длительность: {{ generateDurationString(competition.duration) }}
      </span>
      </li>
      <li>
      <span class="material-icons-outlined">
        description
      </span>
        <span>
        Описание: {{ competition.description }}
      </span>
      </li>
      <li
        *tuiLet="memberAvatars$ | async as memberAvatars"
      >
        <ng-container *ngIf="memberAvatars !== null">
          <div class="avatar-container" *ngFor="let avatar of memberAvatars">
            <img width="36" height="36" [src]="avatar">
          </div>
          <span class="members-count">{{ generateMembersString(memberAvatars.length) }}</span>
        </ng-container>
      </li>
    </ul>
  </ng-container>
</tui-island>
