<div class="main">
  <ul class="event-list">
    <li class="event-list-item" *ngFor="let event of events | async">
      <cy-event-card [event]="event"></cy-event-card>
    </li>
  </ul>
</div>

<aside class="sidebar">
  <tui-island class="sidebar-section sport-types">
    <h3 class="tui-island__title">Виды спорта</h3>
    <ul class="sport-types-list">
      <li class="sport-type-item" *ngFor="let sportType of sportTypes | async">
        {{ sportTypesMap[ sportType ] }}
      </li>
    </ul>
  </tui-island>

  <tui-island class="sidebar-section users">
    <h3 class="tui-island__title section-title">
      <a routerLink="users" [relativeTo]="activatedRoute">
        <span class="title">Участники</span>
        <span class="user-count">{{ userCount | async }} <tui-svg src="tuiIconChevronRight"></tui-svg></span>
      </a>
    </h3>
    <ul class="user-list">
      <li
        class="user-list-item"
        *ngFor="let user of firstUsers | async"
        [tuiHint]="user.login"
      >
        <a [routerLink]="[ '/', 'users', user.login ]">
          <tui-avatar size="m" [avatarUrl]="user.avatar"></tui-avatar>
        </a>
      </li>
    </ul>
  </tui-island>
</aside>
