:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px;

  overflow-y: auto;
}

.additional-data {
  width: 100%;

  text-align: center;
}

:host ::ng-deep {
  .form-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    text-align: center;
  }
}
