<tui-loader *ngIf="communityShowLoader | async" [overlay]="true" [showLoader]="true"></tui-loader>

<ng-container *ngIf="!(communityShowLoader | async)">
  <header class="header"
          *tuiLet="isSettingsTabActive | async as isSettingsActive"
          [class.is-settings-tab-active]="isSettingsActive">
    <div class="community-avatar-container">
      <img [attr.src]="avatar | async" [attr.alt]="name | async">
    </div>

    <div class="community-type-container" [ngSwitch]="type | async">
      <span *ngSwitchCase="communityType.club">Клуб</span>
      <span *ngSwitchCase="communityType.organization">Организация</span>
    </div>

    <div class="community-name-container">
      <h1 class="community-name">{{ name | async }}</h1>
    </div>

    <div *ngIf="isUrlShow | async" class="community-links-container">
      <ul class="community-link-list">
        <li class="community-link-list-item">
          <span class="material-icons-outlined">link</span>
          <a [attr.href]="url | async | safe: 'url'">{{ url | async }}</a>
        </li>
      </ul>
    </div>

    <div *ngIf="isDescriptionShow | async" class="community-description-container" [innerHTML]="description | async | safe: 'html'"></div>

    <div *ngIf="!isSettingsActive" class="community-actions-container">
      <ng-container *ngIf="isUserExist | async">
        <button
          *tuiLet="isCurrentUserCommunityMember | async as isUserJoined"
          tuiButton
          class="join-button"
          [size]="joinButtonSize | async"
          [showLoader]="joinButtonShowLoader | async"
          [disabled]="joinButtonIsDisabled | async"
          [iconRight]="joinButtonIconRight | async"
          [class.is-user-joined]="isUserJoined"
          (click)="onClickJoinButton(isUserJoined)"
        >{{ joinButtonLabel | async }}</button>
      </ng-container>
    </div>
  </header>
</ng-container>

<section class="community-view-control">
  <tui-tabs [activeItemIndex]="activeTabChanges | async" (activeItemIndexChange)="onActiveItemIndexChange($event)">
    <a
      tuiTab
      routerLink="."
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: true }"
    >Обзор</a>

    <a
      tuiTab
      routerLink="users"
      routerLinkActive
    >Участники</a>

    <a
      *ngIf="isCurrentUserOwnerCommunity | async"
      tuiTab
      routerLink="settings"
      routerLinkActive
    >Настройки</a>
  </tui-tabs>
</section>

<section class="community-body">
  <router-outlet></router-outlet>
</section>
