:host {
  display: flex;
  flex-direction: column;
  padding: 12px 12px var(--menu-height);
}

.avatar-container img {
  width: 134px;
  height: 134px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-and-name-container {
  display: flex;
  align-items: center;
}

.avatar-container {
  margin-right: 1rem;
}

.user-login {
  color: var(--tui-base-07);
}

.edit-button {
  width: 100%;
}

.info-section:not(:last-child) {
  margin-bottom: 1rem;
}

.community-avatar {
  max-width: 50px;
  border-radius: 50%;
}

.activities-filter-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info-section {
  margin-bottom: 1rem;
}

.user-name {
  line-height: 120%;
}

.user-login {
  margin-bottom: 0;
}

.user-activities-section {
  flex-grow: 1;
}

.name-container {
  width: 100%;
}

.edit-actions {
  display: flex;
  justify-content: space-between;
}

.community-list {
  display: flex;
}

.community-list-item {
  position: relative;

  width: 50px;
  height: 50px;
  margin-left: -12px;

  border-radius: 50%;
  border: 4px solid var(--background);

  overflow: hidden;

  & img {
    --size: 43px;

    display: block;
    width: var(--size);
    height: var(--size);
  }
}

.community-list-item:first-child {
  margin-left: 0;
}

.tracker-info-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  &.is-show-map {
    height: 300px;
  }
}

.mapbox-map {
  flex-grow: 1;
}

.mapbox-map ::ng-deep .mapboxgl-map {
  border-radius: var(--tui-radius-l);
}

@media screen and (min-width: 600px) {
  :host {
    flex-direction: row;
    max-width: 980px;
    margin: 0 auto;
  }

  .main-info-section {
    max-width: 250px;
    margin-right: 1rem;
  }

  .user-communities-section {
    flex-grow: 1;
  }

  .avatar-and-name-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar-container img {
    width: 234px;
    height: 234px;
  }
}

@media (min-width: 930px) {
  .main-info-section {
    margin-right: 32px;
  }

  .event-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    max-width: 672px;
  }
}
