<section class="main-info-section">
  <div class="info-section avatar-and-name-container">
    <div class="avatar-container">
      <img [attr.src]="avatarUrl | async" alt="">
    </div>
    <div class="name-container">
      <h1 class="user-name">{{ fullName | async }}</h1>
      <h2 class="user-login">{{ login | async }}</h2>
    </div>
  </div>
  <div class="info-section description-container">
    <p>{{ about | async }}</p>
  </div>
  <div class="info-section edit-button-container">
    <button class="edit-button" tuiButton size="s" type="button" iconRight="tuiIconEdit">Редактировать</button>
  </div>
  <div class="info-section secondary-info">
    <ul class="tui-list">
      <li class="tui-list__item">
        <span>Телефон: </span>
        <span>
          <a tuiLink [attr.href]="'tel:' + (phone | async)">{{ phone | async | tuiFormatPhone }}</a>
        </span>
      </li>
      <li class="tui-list__item">
        <span>Эл. Почта: </span>
        <span>
          <a tuiLink [attr.href]="'mailto:' + (email | async)">{{ email | async }}</a>
        </span>
      </li>
    </ul>
  </div>
  <div class="info-section user-communities-section">
    <h3 class="user-communities-title">Сообщества</h3>
    <ul class="community-list">
      <li class="community-list-item" *ngFor="let community of userCommunities | async">
        <a [routerLink]="[ '/', 'communities', community.nickname ]">
          <img class="community-avatar" [attr.src]="community.avatar" [attr.alt]="community.name">
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="user-activities-section">
  <div class="activities-filter-container">
    <tui-filter
      [formControl]="activitiesFilterControl"
      size="s"
      [items]="[ 'Тренировки', 'Соревнования' ]"
    ></tui-filter>
  </div>
  <div class="activities-container">
    <ul class="event-list">
      <li class="event-item" *ngFor="let event of events | async">
        <ng-container [ngSwitch]="event.type">
          <ng-template [ngSwitchCase]="'WORKOUT'">
            <cy-workout [workout]="event.value"></cy-workout>
          </ng-template>

          <ng-template [ngSwitchCase]="'COMPETITION'">
            <cy-competition [competition]="event.value"></cy-competition>
          </ng-template>
        </ng-container>
      </li>
    </ul>
  </div>
</section>
