:host {
  display: block;
  padding: 18px 0;

  & .event-list {
    max-width: none;
    justify-items: center;
  }

  & .event-item {
    width: 320px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.date {
  position: sticky;
  top: 18px;
  z-index: 1;

  width: fit-content;
  padding: 8px 16px;
  margin: 12px auto;

  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(240, 242, 243, 0.8);
  border-radius: 20px;
}

@media (max-width: 599px) {
  :host {
    padding: 12px 0 70px;
  }
}

@media (min-width: 768px) {
  :host {
    & .event-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
      max-width: 672px;
    }
  }
}

@media (min-width: 1366px) {
  :host {
    & .event-list {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1328px;
    }
  }
}
