.tui-island__category {
  margin-bottom: 16px;
}

.preview-container {
  margin-bottom: 16px;

  border-radius: var(--tui-radius-l);

  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 150px;
  }
}

.icon-list li {
  display: flex;
  padding: 8px 0;
}

.material-icons-outlined {
  display: block;
  margin-right: 8px;
  color: var(--icon-color);
}
