.tui-island__category {
  margin-bottom: 18px;
}

mgl-map {
  width: 100%;
  height: 150px;
  margin-bottom: 18px;

  border-radius: var(--tui-radius-l);

  overflow: hidden;
}

.preview-container {
  margin-bottom: 18px;

  border-radius: var(--tui-radius-l);

  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 150px;
  }
}

.icon-list li {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.material-icons-outlined {
  display: block;
  margin-right: 6px;
  color: var(--icon-color);
}
