<a
  *ngIf="workout"
  [routerLink]="[ '/', 'workouts', workout.id ]"
  tuiIsland
  size="l"
  [hoverable]="true"
>
  <h3 class="tui-island__title">{{ generateStartTime(workout.startDate) }}</h3>
  <p class="tui-island__category">Тренировка</p>
  <div class="preview-container">
    <img [src]="routePreview | async">
  </div>
  <ul class="icon-list">
    <li>
      <span class="material-icons-outlined">
        emoji_people
      </span>
      <span>
        Вид спорта: {{ sportTypeMap[workout.sportType] }}
      </span>
    </li>
    <li>
      <span class="material-icons-outlined">
        moving
      </span>
      <span>
        Дистанция: {{ generateDistanceString(distance | async) }}
      </span>
    </li>
    <li *ngIf="workout.duration > 0">
      <span class="material-icons-outlined">
        access_time
      </span>
      <span>
        Длительность: {{ generateDurationString(workout.duration) }}
      </span>
    </li>
    <li>
      <span class="material-icons-outlined">
        description
      </span>
      <span>
        Описание: {{ workout.description }}
      </span>
    </li>
    <li>
      <span class="material-icons-outlined">
        group
      </span>
      <span>
        Участники: {{ workout.userIds.length }}
      </span>
    </li>
  </ul>
</a>
