:host {
  display: block;
  padding: var(--mobile-container-padding) var(--mobile-container-padding) calc(var(--menu-height) + var(--mobile-container-padding));
}

.title {
  font-size: 5em;
}

.logo {
  width: 100px;
}

.section.main-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.brand-logo .section-content {
  display: flex;
}

.brand-logo-figure {
  margin: 0;
  text-align: center;
}

.brand-logo-figure img {
  height: 66px;
}

.brand-color-list {
  display: flex;
}

.color-preview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.brand-color-item {
  display: flex;
}

.property-name {
  color: hsl(0deg 0% 63%);
}

.contact-list-item figure {
  margin: 0;
}

.contact-list-item figure img,
.contact-list-item figure span {
  width: 48px;
  height: 48px;
  font-size: 48px;
  color: hsl(0deg 0% 51%);
}

.contact-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  text-align: center;
}

.section {
  margin-bottom: 36px;
}

.partner-list-item img {
  width: 100%;
}

.partner-list-item figure {
  margin: 0;
  padding: 12px 36px;
  text-align: center;
}

.brand-logo-figure.full-logo,
.brand-color-item:not(:last-child) {
  margin-right: 12px;
}

.team-list-item img {
  --size: 120px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.team-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  text-align: center;
}

.team-list-item figure {
  margin: 0;
}

.section.copyright {
  text-align: center;
}

.section.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright-span {
  order: -1;
}

@media (min-width: 768px) {
  :host {
    max-width: 900px;
    height: calc(100% - var(--header-height));
    margin: 0 auto;
    padding: var(--desktop-container-padding) 0;
  }

  .brand-logo-figure.full-logo,
  .brand-color-item:not(:last-child) {
    margin-right: 72px;
  }

  .contact-list {
    grid-template-columns: repeat(7, 1fr);
  }

  .partner-list-item img {
    width: 200px;
    height: auto;
  }

  .partner-list {
    display: flex;
  }

  .team-list {
    grid-template-columns: repeat(5, 1fr);
  }

  .section.copyright {
    flex-direction: row;
    justify-content: center;
  }

  .copyright-span {
    order: 0;
    margin: 0 12px;
  }

  .section:last-child {
    margin-bottom: 0;
    padding-bottom: 36px;
  }
}
