<section class="section main-information">
  <img class="logo" src="/assets/logo.svg" alt="Логотип beCycled">

  <h1 class="title">beCycled</h1>

  <h3 class="description">Социальная онлайн-платформа организации и трекинга велосипедных и других циклических видов спорта</h3>
</section>

<section class="section contacts">
  <h2 class="section-title" id="contacts">Контакты</h2>

  <!-- EMAIL -->
  <ul class="contact-list">
    <li class="contact-list-item">
      <figure>
        <a href="mailto:support@becycled.me">
          <span class="material-icons-outlined">mail</span>
        </a>

        <figcaption>support@becycled.me</figcaption>
      </figure>
    </li>

    <!-- INSTAGRAM -->
    <li class="contact-list-item">
      <figure>
        <a href="https://instagram.com/becycled.me/" target="_blank">
          <img src="/assets/logos/instagram.png" alt="Логотип Инстаграма">
        </a>

        <figcaption>@becycled.me</figcaption>
      </figure>
    </li>

    <!-- TELEGRAM -->
    <li class="contact-list-item">
      <figure>
        <a href="https://t.me/beCycled" target="_blank">
          <img src="/assets/logos/telegram.svg" alt="Логотип Телеграма">
        </a>

        <figcaption>@beCycled</figcaption>
      </figure>
    </li>

    <!-- VK -->
    <li class="contact-list-item">
      <figure>
        <a href="https://vk.com/becycled" target="_blank">
          <img src="/assets/logos/vk.svg" alt="Логотип ВКонтакте">
        </a>

        <figcaption>@becycled</figcaption>
      </figure>
    </li>

    <!-- FACEBOOK -->
    <li class="contact-list-item">
      <figure>
        <a href="https://www.facebook.com/becycled.me/" target="_blank">
          <img src="/assets/logos/facebook.svg" alt="Логотип Фейсбук">
        </a>

        <figcaption>@becycled.me</figcaption>
      </figure>
    </li>

    <!-- TWITTER -->
    <li class="contact-list-item">
      <figure>
        <a href="https://twitter.com/be_cycled" target="_blank">
          <img src="/assets/logos/twitter.svg" alt="Логотип Твиттера">
        </a>

        <figcaption>@be_cycled</figcaption>
      </figure>
    </li>

    <!-- GITHUB -->
    <li class="contact-list-item">
      <figure>
        <a href="https://github.com/be-Cycled" target="_blank">
          <img src="/assets/logos/github-logo.svg" alt="Логотип GitHub">
        </a>

        <figcaption>be-Cycled</figcaption>
      </figure>
    </li>
  </ul>
</section>

<section class="section partners">
  <h2 class="section-title" id="partners">Партнеры</h2>

  <ul class="partner-list">
    <li class="partner-list-item">
      <figure>
        <a href="https://waliot.com" target="_blank">
          <img src="/assets/logos/waliot.svg" alt="Логотип Waliot">
        </a>

        <figcaption>Waliot</figcaption>
      </figure>
    </li>

    <li class="partner-list-item">
      <figure>
        <a href="https://xn----8sbpm0aficbcod6o.xn--p1ai/" target="_blank">
          <img src="/assets/logos/sport-arteria-logo.png" alt="Логотип СпортАРТерия">
        </a>

        <figcaption>СпортАРТерия</figcaption>
      </figure>
    </li>
  </ul>
</section>

<section class="section brand">
  <h2 class="section-title" id="brand">Бренд</h2>

  <section class="sub-section brand-logo">
    <h3 class="subsection-title" id="brand-logo">Логотип</h3>

    <div class="section-content">
      <figure class="brand-logo-figure full-logo">
        <img src="/assets/full-logo.svg" alt="Полноразмерный логотип beCycled">

        <figcaption>
          <a tuiLink href="/assets/full-logo.svg" download>SVG</a>,
          <a tuiLink href="/assets/logos/beCycled-logo.png" download>PNG</a>
        </figcaption>
      </figure>

      <figure class="brand-logo-figure icon-logo">
        <img src="/assets/logo.svg" alt="Пиктограмма beCycled">

        <figcaption>
          <a tuiLink href="/assets/logo.svg" download>SVG</a>,
          <a tuiLink href="/assets/logos/beCycled-icon.png" download>PNG</a>
        </figcaption>
      </figure>
    </div>
  </section>

  <section class="sub-section brand-colors">
    <h3 class="subsection-title" id="brand-colors">Цвета</h3>

    <ul class="brand-color-list">
      <li class="brand-color-item">
        <div class="color-preview" style="background-color: #fc6719"></div>

        <table class="color-properties-table">
          <tr class="color-property">
            <td class="property-name">HEX</td>
            <td class="property-value">#fc6719</td>
          </tr>

          <tr class="color-property">
            <td class="property-name">RGB</td>
            <td class="property-value">252 103 25</td>
          </tr>

          <tr class="color-property">
            <td class="property-name">CMYK</td>
            <td class="property-value">0 58 89 1</td>
          </tr>
        </table>
      </li>

      <li class="brand-color-item">
        <div class="color-preview" style="background-color: #01b2cc"></div>

        <table class="color-properties-table">
          <tr class="color-property">
            <td class="property-name">HEX</td>
            <td class="property-value">#01b2cc</td>
          </tr>

          <tr class="color-property">
            <td class="property-name">RGB</td>
            <td class="property-value">1 178 204</td>
          </tr>

          <tr class="color-property">
            <td class="property-name">CMYK</td>
            <td class="property-value">80 10 0 20</td>
          </tr>
        </table>
      </li>
    </ul>
  </section>
</section>

<section class="section team">
  <h2 class="section-title" id="team">Команда</h2>

  <ul class="team-list">
    <li class="team-list-item">
      <figure>
        <img src="https://api.becycled.me/images/500b2cc550864ccbbec4cd7ed5feb10a.png" alt="Саша">

        <figcaption>
          <a tuiLink href="https://becycled.me/users/avkoltovich">@avkoltovich</a>
        </figcaption>
      </figure>
    </li>

    <li class="team-list-item">
      <figure>
        <img src="https://api.becycled.me/images/c17988cd5fca4685803fb919a2541732.jpg" alt="Сэм">

        <figcaption>
          <a tuiLink href="https://becycled.me/users/mephistorine">@mephistorine</a>
        </figcaption>
      </figure>
    </li>

    <li class="team-list-item">
      <figure>
        <img src="https://api.becycled.me/images/888b306ab1e94706b936a9083f2ed752.jpeg" alt="Илья">

        <figcaption>
          <a tuiLink href="https://becycled.me/users/admin">@admin</a>
        </figcaption>
      </figure>
    </li>

    <li class="team-list-item">
      <figure>
        <img src="https://api.becycled.me/images/default_user_avatar.png" alt="Сурен">

        <figcaption>
          <a tuiLink href="https://becycled.me/users/suren">@suren</a>
        </figcaption>
      </figure>
    </li>

    <li class="team-list-item">
      <figure>
        <img src="https://api.becycled.me/images/ee40307d8a5e43f9852d71a3bd8f1e1c.jpeg" alt="Иван">

        <figcaption>
          <a tuiLink href="https://becycled.me/users/binakot">@binakot</a>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>

<section class="section copyright">
  <a routerLink="/agreements/terms-of-service" tuiLink>Пользовательское соглашение</a>
  <span class="copyright-span">beCycled &copy; {{ year }}</span>
  <a routerLink="/agreements/privacy-policy" tuiLink>Политика конфиденциальности</a>
</section>
