<section class="section main-information">
  <img class="logo" src="/assets/logo.svg" alt="Логотип beCycled">

  <h1 class="title">beCycled</h1>

  <h3 class="description">Социальная онлайн-платформа организации и трекинга велосипедных и других циклических видов спорта.</h3>
</section>

<section class="section brand">
  <h2 class="section-title">Бренд</h2>

  <section class="sub-section">
    <h3 class="subsection-title">Логотип</h3>
  </section>

  <section class="sub-section">
    <h3 class="subsection-title">Цвета</h3>
  </section>
</section>

<section class="section team">
  <h2 class="section-title">Команда</h2>
</section>

<section class="section social-links">
  <h2 class="section-title">Контакты</h2>
</section>

<section class="section partners">
  <h2 class="section-title">Партнеры</h2>
</section>
