<div class="settings-header">
  <a tuiLink [routerLink]="linkToBack | async">🔙 Вернуться на страницу сообщества</a>
</div>

<div class="main-tread" [formGroup]="form">
  <div class="field">
    <tui-input formControlName="name" tuiTextfieldSize="m">Название</tui-input>
  </div>

  <div class="field">
    <tui-input formControlName="nickname" tuiTextfieldSize="m">Никнейм</tui-input>
  </div>

  <div class="field">
    <tui-select
      formControlName="communityType"
      tuiTextfieldSize="m"
      [valueContent]="communityTypeValueRef"
    >
      Тип сообщества
      <tui-data-list *tuiDataList>
        <button tuiOption *ngFor="let type of communityTypeKeys" [value]="type">{{ communityTypesMap[type] }}</button>
      </tui-data-list>
    </tui-select>
  </div>

  <div class="field">
    <tui-multi-select
      formControlName="sportTypes"
      tuiTextfieldSize="m"
      [stringify]="sportTypeStringify"
      [editable]="false"
      [tuiTextfieldLabelOutside]="true"
    >
      Виды спорта
      <tui-data-list *tuiDataList tuiMultiSelectGroup>
        <button tuiOption *ngFor="let sportType of sportTypeKeys" [value]="sportType">{{ sportTypesMap[ sportType ] }}</button>
      </tui-data-list>
    </tui-multi-select>
  </div>

  <div class="field">
    <tui-text-area formControlName="description" tuiTextfieldSize="m">Описание</tui-text-area>
  </div>

  <div class="field">
    <tui-input formControlName="url" tuiTextfieldSize="m">Ссылка на веб-сайт</tui-input>
  </div>
</div>

<aside class="sidebar">
  <div class="field avatar">
    <p>Аватар (макс. 1Мб)</p>
    <img [attr.src]="avatarChanges | async" [attr.alt]="form.value.name">
    <tui-input-file
      class="button-file"
      [formControl]="avatarInputFileControl"
      [multiple]="false"
      [maxFileSize]="maxAvatarFileSize"
      accept="image/png,image/jpeg,image/jpg"
    ></tui-input-file>
  </div>
</aside>

<div class="actions-container">
  <button tuiButton (click)="onClickSaveButton()" type="button" size="m">Сохранить</button>
</div>

<ng-template #communityTypeValueRef let-option>{{ communityTypesMap[ option ] }}</ng-template>
