:host {
  display: block;
  height: 100%;
  padding: var(--mobile-container-padding) var(--mobile-container-padding) calc(var(--menu-height) + var(--mobile-container-padding));
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result {
  padding-bottom: calc(var(--menu-height) + var(--mobile-container-padding));

  overflow-x: auto;
}

.filter {
  display: grid;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.search-input,
.community-type-select {
  order: -1;
}

.avatar-and-name {
  display: flex;
  align-items: center;

  & .avatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

.count {
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  :host {
    max-width: 980px;
    height: calc(100% - var(--header-height));
    padding: var(--desktop-container-padding) 0;
    margin: 0 auto;
  }

  .filter {
    grid-template-columns: 1fr 160px;
  }

  .result {
    padding-bottom: var(--desktop-container-padding);
  }
}
