:host {
  position: fixed;
  bottom: 0;
  z-index: 9999;

  display: block;
  width: 100%;
  padding: 0.5rem;

  background-color: #ffffff;

  box-shadow: 0 4px 24px rgb(0 0 0 / 12%);
}

.menu-nav-list {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: space-between;
}

.menu-nav-list.extra-menu {
  justify-content: flex-start;
}

.menu-nav-list.extra-menu .menu-nav-list-item:not(:last-child) {
  margin-right: 1rem;
}

.icon-description {
  font-size: 12px;
}

.is-active {
  .material-icons,
  .icon-description {
    color: #FC6719;
  }
}
