:host {
  display: block;
}

.field:not(:last-child) {
  margin-bottom: 12px;
}

.field {
  width: 100%;
}

.avatar-preview img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.main-controls {
  margin-bottom: 12px;
}

.avatar-preview {
  margin-bottom: 12px;
}

.tui-group {
  width: 100%;
}

.additional-controls,
.actions-container,
.fields-container {
  margin-bottom: 12px;
}

.save-button {
  width: 100%;
}

section.danger-zone-actions {
  --danger-color: hsl(0, 88%, 62%);
}

.danger-zone-actions h2 {
  color: var(--danger-color);
}

.danger-zone-action {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--danger-color);
  border-radius: var(--tui-radius-m);
  padding: 12px;
}

.danger-zone-action-description {
  margin-bottom: 12px;
  max-width: 80%;
}

.danger-zone-action-description p {
  margin: 0;
}

.description-title {
  font-weight: bold;
  font: var(--tui-font-heading-6);
}

.settings-container {
  display: flex;
  flex-direction: column;
}

.additional-controls {
  order: -1;
}

@media screen and (min-width: 599px) {
  .settings-container {
    flex-direction: row;
    margin-bottom: 12px;
  }

  .main-controls {
    flex-grow: 1;
    margin-right: 12px;
    margin-bottom: 0;
  }

  .additional-controls {
    order: 0;
    flex-basis: 250px;
  }

  .save-button {
    width: fit-content;
  }

  .danger-zone-action {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .danger-zone-action-description {
    margin-bottom: 0;
  }
}
