<form class="community-settings-form" [formGroup]="communityFormGroup">
  <div class="settings-container">
    <div class="main-controls">
      <div class="fields-container">
        <div class="field">
          <tui-input formControlName="name">Название *</tui-input>
          <tui-field-error formControlName="name"></tui-field-error>
        </div>

        <div class="field">
          <tui-input formControlName="nickname">Никнейм *</tui-input>
          <tui-field-error formControlName="nickname"></tui-field-error>
        </div>

        <div class="field">
          <tui-select
            formControlName="communityType"
            [valueContent]="communityTypeValueRef"
          >
            Тип сообщества *
            <tui-data-list *tuiDataList>
              <button tuiOption *ngFor="let type of communityTypeKeys" [value]="type">{{ communityTypesMap[type] }}</button>
            </tui-data-list>
          </tui-select>
        </div>

        <div class="field">
          <tui-multi-select
            formControlName="sportTypes"
            [editable]="false"
            [tuiTextfieldLabelOutside]="true"
            [stringify]="sportTypesStringify(sportTypesMap)"
          >
            Виды спорта
            <tui-data-list-wrapper
              *tuiDataList
              tuiMultiSelectGroup
              [items]="sportTypesKeys"
              [itemContent]="sportTypesValueRef"
            ></tui-data-list-wrapper>
          </tui-multi-select>
        </div>

        <div class="field">
          <tui-input formControlName="url">Ссылка</tui-input>
        </div>
        <div class="field">
          <tui-text-area formControlName="description">Описание</tui-text-area>
        </div>
      </div>

      <section class="actions-container">
        <button tuiButton
                class="save-button"
                (click)="onClickSaveButton()"
                [showLoader]="saveButtonShowLoader | async"
        >Сохранить</button>
      </section>

      <section class="danger-zone-actions">
        <h2>Опасная зона</h2>

        <div class="content">
          <div class="danger-zone-action">
            <div class="danger-zone-action-description">
              <p class="description-title">Удалить организацию</p>
              <p class="description-subtitle">Эта организация удалится навсегда.</p>
            </div>

            <button tuiButton appearance="error" (click)="onClickDeleteButton(deleteDialogRef)">Удалить</button>
          </div>
        </div>
      </section>
    </div>

    <aside class="additional-controls">
      <label tuiLabel label="Аватарка">
        <div class="avatar-preview">
          <img [attr.src]="avatarUrl | async" alt="">
        </div>
      </label>
      <tui-input-file
        [multiple]="false"
        [maxFileSize]="maxFileSize"
        accept="image/png,image/jpg,image/jpeg"
        [formControl]="avatarFileControl"
      ></tui-input-file>
    </aside>
  </div>
</form>

<ng-template #communityTypeValueRef let-option>{{ communityTypesMap[ option ] }}</ng-template>

<ng-template #sportTypesValueRef let-option>{{ sportTypesMap[ option ] }}</ng-template>

<ng-template #deleteDialogRef let-completeWith="completeWith">
  <div class="delete-dialog">
    <p>Удалить сообщество?</p>

    <div class="button-container">
      <button
        tuiButton
        type="button"
        size="m"
        appearance="secondary"
        (click)="completeWith(false)"
      >
        Нет
      </button>
      <button
        tuiButton
        type="button"
        size="m"
        (click)="completeWith(true)"
      >
        Да
      </button>
    </div>
  </div>
</ng-template>
