.tui-island__category {
  margin-bottom: 16px;
}

mgl-map {
  width: 100%;
  height: 150px;
  margin-bottom: 16px;

  border-radius: var(--tui-radius-l);

  overflow: hidden;
}

.icon-list li {
  display: flex;
  padding: 8px 0;
}

.material-icons-outlined {
  display: block;
  margin-right: 8px;
  color: var(--icon-color);
}
