<a
  *ngIf="competition"
  [routerLink]="[ '/', 'competitions', competition.id ]"
  tuiIsland
  size="l"
  [hoverable]="true"
>
  <h3 class="tui-island__title">{{ generateStartTime(competition.startDate) }}</h3>
  <p class="tui-island__category">Соревнование</p>
  <div class="preview-container">
    <img [src]="routePreview$ | async">
  </div>
  <ul class="icon-list">
    <li>
      <span class="material-icons-outlined">
        emoji_people
      </span>
      <span>
        Вид спорта: {{ sportTypeMap[detectSportTypeByEventType(competition.eventType)] }}
      </span>
    </li>
    <li
      *ngIf="detectSportTypeByEventType(competition.eventType) === 'BICYCLE' && competition[ 'bicycleType' ] !== null">
      <span class="material-icons-outlined">
        pedal_bike
      </span>
      <span>
        Велосипед: {{ bicycleTypeMap[competition['bicycleType']] }}
      </span>
    </li>
    <li *ngIf="competition.eventType === 'BICYCLE_COMPETITION' && competition[ 'bicycleCompetitionType' ] !== null">
      <span class="material-icons-outlined">
        emoji_events
      </span>
      <span>
        Вид гонки: {{ bicycleCompetitionTypeMap[competition['bicycleCompetitionType']] }}
      </span>
    </li>
    <li>
      <span class="material-icons-outlined">
        moving
      </span>
      <span>
        Дистанция: {{ generateDistanceString(distance$ | async) }}
      </span>
    </li>
    <li *ngIf="competition.duration > 0">
      <span class="material-icons-outlined">
        access_time
      </span>
      <span>
        Длительность: {{ generateDurationString(competition.duration) }}
      </span>
    </li>
    <li>
      <span class="material-icons-outlined">
        description
      </span>
      <span>
        Описание: {{ competition.description }}
      </span>
    </li>
    <li
      *tuiLet="memberAvatars$ | async as memberAvatars"
    >
      <ng-container *ngIf="memberAvatars !== null">
        <div class="avatar-container" *ngFor="let avatar of memberAvatars">
          <img width="36" height="36" [src]="avatar">
        </div>
        <span class="members-count">{{ generateMembersString(memberAvatars.length) }}</span>
      </ng-container>
    </li>
  </ul>
</a>
