<a
  *ngIf="competition"
  [routerLink]="[ '/', 'competitions', competition.id ]"
  tuiIsland
  size="l"
  [hoverable]="true"
>
  <h3 class="tui-island__title">{{ generateStartTime(competition.startDate) }}</h3>
  <p class="tui-island__category">Соревнование</p>
  <div class="preview-container">
    <img [src]="routePreview$ | async">
  </div>
  <ul class="icon-list">
    <li>
      <span class="material-icons-outlined">
        emoji_people
      </span>
      <span>
        Вид спорта: {{ sportTypeMap[competition.sportType] }}
      </span>
    </li>
    <li>
      <span class="material-icons-outlined">
        moving
      </span>
      <span>
        Дистанция: {{ generateDistanceString(distance$ | async) }}
      </span>
    </li>
    <li *ngIf="competition.duration > 0">
      <span class="material-icons-outlined">
        access_time
      </span>
      <span>
        Длительность: {{ generateDurationString(competition.duration) }}
      </span>
    </li>
    <li>
      <span class="material-icons-outlined">
        description
      </span>
      <span>
        Описание: {{ competition.description }}
      </span>
    </li>
    <li>
      <span class="material-icons-outlined">
        group
      </span>
      <span>
        Участники: {{ competition.userIds.length }}
      </span>
    </li>
  </ul>
</a>
