:host {
  display: block;
}

tui-island {
  box-shadow: var(--default-shadow);
}

.event-card-header {
  display: flex;
  justify-content: space-between;
}

.community-avatar {
  border-radius: 50%;
}

.tui-island__category {
  margin-bottom: 16px;
}

.preview-container {
  margin-bottom: 16px;

  border-radius: var(--tui-radius-l);

  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 150px;
  }
}
