:host {
  display: block;
}

.icon-list li {
  display: flex;
  padding: 8px 0;
}

.material-icons-outlined {
  display: block;
  margin-right: 8px;
  color: var(--icon-color);
}

.avatars-item {
  align-items: center;
}

.avatar-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid white;
  border-radius: 50%;

  overflow: hidden;

  img {
    display: block;
  }
}

.avatar-container:not(:first-of-type) {
  margin-left: -12px;
}

.avatar-container:last-of-type {
  margin-right: 8px;
}

.event-join-button {
  width: 80px;
  margin-left: auto;
}

.check-icon {
  display: none;
}

.is-joined {
  .person-add-icon {
    display: none;
  }

  .check-icon {
    display: inline;
    margin-right: 0;

    color: var(--cy-success);
  }
}

::ng-deep {
  .is-joined tui-wrapper[data-appearance='outline']:after {
    color: var(--cy-success)
  }
}
