<ul class="icon-list" *ngIf="event !== null">
  <li class="event-info-item">
      <span class="material-icons-outlined">
        emoji_people
      </span>
    <span>
        Вид спорта: {{ sportTypeMap[detectSportTypeByEventType(event.eventType)] }}
      </span>
  </li>
  <li
    class="event-info-item"
    *ngIf="detectSportTypeByEventType(event.eventType) === 'BICYCLE' && event[ 'bicycleType' ] !== null">
      <span class="material-icons-outlined">
        pedal_bike
      </span>
    <span>
        Велосипед: {{ bicycleTypeMap[event['bicycleType']] }}
      </span>
  </li>
  <li
    class="event-info-item"
    *ngIf="event.eventType === 'BICYCLE_COMPETITION' && event[ 'bicycleCompetitionType' ] !== null"
  >
      <span class="material-icons-outlined">
        emoji_events
      </span>
    <span>
        Вид гонки: {{ bicycleCompetitionTypeMap[event['bicycleCompetitionType']] }}
      </span>
  </li>
  <li class="event-info-item">
      <span class="material-icons-outlined">
        moving
      </span>
    <span>
        Дистанция: {{ generateDistanceString(distance) }}
      </span>
  </li>
  <li class="event-info-item" *ngIf="event.duration > 0">
      <span class="material-icons-outlined">
        access_time
      </span>
    <span>
        Длительность: {{ generateDurationString(event.duration) }}
      </span>
  </li>
  <li class="event-info-item">
      <span class="material-icons-outlined">
        description
      </span>
    <span>
        Описание: {{ event.description }}
      </span>
  </li>
  <li class="event-info-item avatars-item" *tuiLet="lastFourMembers$ | async as lastFourMembers">
    <ng-container *ngIf="lastFourMembers !== null">
      <ul class="avatars-list">
        <li class="avatar-container" *ngFor="let member of lastFourMembers">
          <a [routerLink]="[ '/', 'users', member.login ]" [tuiHint]="member.login">
            <tui-avatar size="s" [avatarUrl]="member.avatar"></tui-avatar>
          </a>
        </li>
      </ul>
      <span class="members-count">{{ members.length }} -></span>
    </ng-container>

    <button
      *ngIf="isCanJoinEvent | async"
      [class.is-joined]="isJoined | async"
      tuiButton
      class="event-join-button"
      type="button"
      appearance="outline"
      size="m"
      [showLoader]="isJoinButtonLoading"
      (click)="onJoinButtonClick(event)"
    >
      <span class="material-icons-outlined person-add-icon">
        person_add
      </span>
      <span class="material-icons-outlined check-icon">
        check
      </span>
    </button>
  </li>
</ul>
