<ul class="icon-list" *ngIf="event !== null">
  <li class="event-info-item">
      <span class="material-icons-outlined">
        emoji_people
      </span>
    <span>
        Вид спорта: {{ sportTypeMap[detectSportTypeByEventType(event.eventType)] }}
      </span>
  </li>
  <li
    class="event-info-item"
    *ngIf="detectSportTypeByEventType(event.eventType) === 'BICYCLE' && event[ 'bicycleType' ] !== null">
      <span class="material-icons-outlined">
        pedal_bike
      </span>
    <span>
        Велосипед: {{ bicycleTypeMap[event['bicycleType']] }}
      </span>
  </li>
  <li
    class="event-info-item"
    *ngIf="event.eventType === 'BICYCLE_COMPETITION' && event[ 'bicycleCompetitionType' ] !== null"
  >
      <span class="material-icons-outlined">
        emoji_events
      </span>
    <span>
        Вид гонки: {{ bicycleCompetitionTypeMap[event['bicycleCompetitionType']] }}
      </span>
  </li>
  <li class="event-info-item">
      <span class="material-icons-outlined">
        moving
      </span>
    <span>
        Дистанция: {{ generateDistanceString(distance) }}
      </span>
  </li>
  <li class="event-info-item" *ngIf="event.duration > 0">
      <span class="material-icons-outlined">
        access_time
      </span>
    <span>
        Длительность: {{ generateDurationString(event.duration) }}
      </span>
  </li>
  <li class="event-info-item" *ngIf="event.url.length > 0">
      <span class="material-icons-outlined">
        link
      </span>
    <span>
      <a tuiLink href="{{ event.url }}" class="event-info-link" target="_blank">Ссылка на мероприятие</a>
      </span>
  </li>
  <li class="event-info-item" *ngIf="event.description.length > 0">
      <span class="material-icons-outlined">
        description
      </span>
    <span>
        Описание: {{ event.description }}
      </span>
  </li>
  <li class="event-info-item avatars-item" *tuiLet="lastFourMembers$ | async as lastFourMembers">
    <ng-container *ngIf="lastFourMembers !== null">
      <ul class="avatars-list">
        <li class="avatar-container" *ngFor="let member of lastFourMembers">
          <a class="avatar-link" (click)="navigateAndRefresh(member.login)">
            <tui-avatar size="s" [avatarUrl]="member.avatar" [tuiHint]="member.login"></tui-avatar>
          </a>
        </li>
      </ul>
      <button tuiLink class="members-count" (click)="showMembersDialog(membersDialogRef)">{{ members.length }}->
      </button>

      <ng-template #membersDialogRef let-observer>
        <ul class="member-list">
          <li class="member-list-item" *ngFor="let member of members">
            <tui-avatar class="member-list-avatar" size="m" [avatarUrl]="member.avatar"></tui-avatar>
            <div class="member-name-container">
              <span *ngIf="member.firstName !== null || member.lastName !== null">
              {{ member.firstName }} {{ member.lastName }}
            </span>
              <a tuiLink (click)="observer.complete(); navigateAndRefresh(member.login)">
                {{ member.login }}
              </a>
            </div>
            <span class="member-status" *ngIf="member.id === event.ownerUserId; else memberRef">Создатель</span>
            <ng-template #memberRef>
              <span class="member-status">Участник</span>
            </ng-template>
          </li>
        </ul>
      </ng-template>
    </ng-container>

    <button
      *ngIf="isCanJoinEvent | async"
      [class.is-joined]="isJoined | async"
      tuiButton
      class="event-join-button"
      type="button"
      appearance="outline"
      size="m"
      [showLoader]="isJoinButtonLoading"
      (click)="onJoinButtonClick(event)"
    >
      <span class="material-icons-outlined person-add-icon">
        person_add
      </span>
      <span class="material-icons-outlined check-icon">
        check
      </span>
    </button>
  </li>
</ul>
