body {
  background-color: #F0F2F3;

  --cy-primary: hsl(21deg 97% 54%);
  --cy-success: hsl(120, 44%, 55%);
}

:root {
  --icon-color: var(--tui-base-06);
  --tui-primary: #0093D1 !important;
  --tui-primary-hover: #05B5FF !important;
  --tui-link: #0093D1 !important;
  --tui-link-hover: #05B5FF !important;
}
