* {
  box-sizing: border-box;
}

body {
  background-color: #F0F2F3;

  --cy-primary: hsl(21deg 97% 54%);
  --cy-success: hsl(120, 44%, 55%);
}

:root {
  --icon-color: var(--tui-base-06);
  --tui-primary: #0093D1 !important;
  --tui-primary-hover: #05B5FF !important;
  --tui-link: #0093D1 !important;
  --tui-link-hover: #05B5FF !important;
  --background: #F0F2F3;

  --header-height: 76px;
}

.event-list {
  display: grid;
  grid-row-gap: 16px;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.event-item {
  position: relative;
}

@media (max-width: 599px) {
  tui-root {
    padding-bottom: 66px;
  }
}
