* {
  box-sizing: border-box;
}

body {
  background-color: #F0F2F3;

  --cy-primary: hsl(21deg 97% 54%);
  --cy-success: #5ABF5A;
  --cy-alert: #FF6639;
}

.meta-h1 {
  display: none;
}

tui-root {
  flex: none !important;
  height: 100%;
}

:root {
  --icon-color: var(--tui-base-06);
  //--tui-primary: #0093D1 !important;
  //--tui-primary-hover: #05B5FF !important;
  //--tui-link: #0093D1 !important;
  //--tui-link-hover: #05B5FF !important;
  --background: #F0F2F3;

  --header-height: 60px;
  --menu-height: 66px;
  --default-shadow: 0 4px 24px rgb(0 0 0 / 12%);

  --mobile-container-padding: 12px;
  --desktop-container-padding: 24px;
}

.event-list {
  display: grid;
  grid-row-gap: 16px;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.event-item {
  position: relative;
}

.start-point,
.end-point {
  width: 16px;
  height: 16px;

  border-radius: 50%;
  border: 2px solid white;

  cursor: pointer;
}

.start-point {
  background-color: var(--cy-success);
}

.end-point {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cy-alert);
}

@media (max-width: 599px) {
  tui-root {
    padding-bottom: 66px;
  }
}

// Общие стили для событий

.event-card {
  .event-header {
    display: flex;
    justify-content: space-between;
  }

  mgl-map {
    width: 100%;
    height: 400px;
    margin-bottom: 16px;

    border-radius: var(--tui-radius-l);

    overflow: hidden;
  }

  tui-hosted-dropdown .material-icons-outlined {
    margin-right: 0;
  }
}

.event-page {
  display: block;
  padding: var(--mobile-container-padding) var(--mobile-container-padding) calc(var(--menu-height) + var(--mobile-container-padding));
}

@media (min-width: 768px) {
  .event-page {
    padding: var(--desktop-container-padding) calc(50% - 684px);
  }
}
