:host {
  display: block;
  padding: 1rem 1rem calc(72px + 1rem) 1rem;
}

section.header {
  display: flex;
  margin-bottom: 1rem;
}

.avatar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar {
  margin-right: 1rem;
}

.community-additional li {
  display: flex;
  align-items: center;
}

.join-button {
  --tui-primary: var(--cy-primary);
}

.join-button.is-user-joined {
  --tui-primary: var(--cy-success);
}

.tabs-container {
  margin-bottom: 1rem;
}

@media screen and (min-width: 599px) {
  :host {
    max-width: 900px;
    margin: 0 auto;
  }

  .body {
    flex-direction: row;
  }
}
