<div class="module-header">
  <h1>Сообщества</h1>
  <a tuiButton routerLink="/communities/create" size="m" (click)="onClickCreateButton()">Создать</a>
</div>

<div class="communities-container">
  <div class="filter" [formGroup]="filtrationForm">
    <tui-input formControlName="search" class="search-input" tuiTextfieldSize="m">Поиск</tui-input>
    <tui-filter
      formControlName="sportTypes"
      class="filtration-input"
      size="s"
      [items]="sportTypes"
      [content]="sportTypeViewRef"
    ></tui-filter>
    <tui-select
      formControlName="communityType"
      class="community-type-select"
      tuiTextfieldSize="m"
      [valueContent]="communityTypeValueRef"
    >
      Тип сообщества
      <tui-data-list *tuiDataList>
        <button tuiOption *ngFor="let type of communityTypes" [value]="type.value">{{ type.viewValue }}</button>
      </tui-data-list>
    </tui-select>
  </div>
  <div class="result">
    <table class="tui-table">
      <tr class="tui-table__tr">
        <th class="tui-table__th">Название</th>
        <th class="tui-table__th">Кол-во участников</th>
        <th class="tui-table__th">Типы спорта</th>
        <th class="tui-table__th">Тип сообщества</th>
      </tr>
      <tr class="tui-table__tr" *ngFor="let community of communitiesForView | async">
        <td class="tui-table__td avatar-and-name">
          <img class="avatar" [attr.src]="community.avatar" [attr.alt]="community.name">
          <a tuiLink [routerLink]="[ '/', 'communities', community.nickname ]">{{ community.name }}</a>
        </td>
        <td class="tui-table__td">{{ community.userIds.length }}</td>
        <td class="tui-table__td">{{ community.sportTypes | tuiMapper: sportTypeTranslate: sportTypesMap }}</td>
        <td class="tui-table__td">{{ communityTypesMap[ community.communityType ] }}</td>
      </tr>
    </table>
  </div>
</div>

<ng-template #communityTypeValueRef>{{ communityTypeViewValue | async }}</ng-template>

<ng-template #sportTypeViewRef let-option>{{ sportTypesMap[ option ] }}</ng-template>
