:host {
  display: block;
  padding: 12px 12px var(--menu-height);
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result {
  overflow-x: auto;
}

.filter {
  display: grid;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.search-input,
.community-type-select {
  order: -1;
}

.avatar-and-name {
  display: flex;
  align-items: center;

  & .avatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

.count {
  white-space: nowrap;
}

@media screen and (min-width: 599px) {
  :host {
    max-width: 900px;
    margin: 0 auto;
  }

  .filter {
    grid-template-columns: 1fr 160px;
  }
}
