:host {
  display: block;
  height: 100%;
  padding: var(--mobile-container-padding) 0;

  & .event-list {
    max-width: none;
    justify-items: center;
  }

  & .event-item {
    width: 320px;
  }
}

tui-loader {
  width: 100%;
  height: 100%;
  padding: 0 calc(50% - 684px);
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  line-height: 175%;
}

.events-wrapper:last-of-type {
  padding-bottom: calc(var(--menu-height) + var(--mobile-container-padding));
}

.date {
  position: sticky;
  top: 18px;
  z-index: 1;

  width: fit-content;
  padding: 8px 16px;
  margin: var(--mobile-container-padding) auto;

  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(240, 242, 243, 0.8);
  border-radius: 20px;
}

@media (min-width: 768px) {
  :host {
    height: calc(100% - var(--menu-height));
    padding: var(--desktop-container-padding) 0;

    & .event-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
      max-width: 672px;
    }
  }

  .events-wrapper:last-of-type {
    padding-bottom: var(--desktop-container-padding);
  }
}

@media (min-width: 1366px) {
  :host {
    & .event-list {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1328px;
    }
  }
}
