:host {
  display: grid;
  gap: 1rem;
  padding: 12px 12px calc(var(--menu-height) + 12px);
}

figure.poster {
  margin: -20px -20px 0 -20px;
  text-align: center;
}

figure.poster img {
  max-width: 100%;
  border-radius: var(--tui-radius-l) var(--tui-radius-l) 0 0;
}

@media (min-width: 768px) {
  :host {
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 300px);
    padding: 36px 0;
  }

  .title {
    grid-column-start: span 3;
  }
}
