<h1>Политика конфиденциальности</h1>


<h2>Общие положения</h2>

<ol>
  <li>1.1. Настоящая Политика конфиденциальности (далее – Политика) определяет общие условия обработки персональных данных пользователей в онлайн-сервисе beCycled (далее — сервис).</li>
  <li>
    1.2. Обработка персональных данных осуществляется на основании:
    <ul>
      <li>Конституции Российской Федерации;</li>
      <li>Федерального конституционного закона от 17 декабря 1997 г. № 2-ФКЗ «О Правительстве Российской Федерации»;</li>
      <li>законодательства Российской Федерации в сфере персональных данных;</li>
      <li>законодательства Российской Федерации в сфере информации, информационных технологиях и о защите информации.</li>
    </ul>
  </li>

  <li>
    1.3. Сервис осуществляет обработку персональных данных в следующем объеме:
    <ul>
      <li>фамилия, имя, отчество (при наличии);</li>
      <li>пол;</li>
      <li>дата рождения;</li>
      <li>адрес электронной почты пользователя;</li>
      <li>номер абонентского устройства подвижной радиотелефонной связи;</li>
      <li>иные данные о пользователе, предоставленные пользователем.</li>
    </ul>
  </li>
</ol>


<h2>Цели обработки персональных данных</h2>

<ol>
  <li>
    2.1. Сервис обрабатывает персональные данные пользователей в целях:
    <ul>
      <li>предоставления пользователю доступа к данным о нем;</li>
      <li>предоставление данных пользователя других пользователям сервиса;</li>
      <li>в иных целях, предусмотренных федеральными законами, актами Президента Российской Федерации и актами Правительства Российской Федерации.</li>
    </ul>
  </li>
</ol>

<h2>Доступ третьих лиц к персональным данным</h2>

<ol>
  <li>
    3.1. Сервис может передать персональные данные пользователя третьей стороне в следующих случаях:
    <ul>
      <li>если пользователь дал согласие на осуществление передачи своих данных третьей стороне;</li>
      <li>если передача необходима в рамках установленной законодательством Российской Федерации процедуры.</li>
    </ul>
  </li>
</ol>

<h2>Способы обработки персональных данных и обязанности сервиса по защите персональных данных.</h2>

<ol>
  <li>4.1. Сервис обязан принимать необходимые организационные и технические меры для обеспечения конфиденциальности, целостности, сохранности и доступности персональных данных пользователей.</li>
  <li>4.2. Обработка персональных данных в сервисе осуществляется как автоматическим, так и автоматизированным способом.</li>
  <li>4.3. При обработке персональных данных, осуществляемой без использования средств автоматизации, сервис обязуется соблюдать требования о раздельном хранении персональных данных (материальных носителей), обработка которых осуществляется в различных целях, определении мест хранения персональных данных и лиц, имеющих доступ к персональным данным, и иные требования, установленные законодательством Российской Федерации к обработке персональных данных, осуществляемой без использования средств автоматизации.</li>
  <li>4.4. При обработке персональных данных автоматическим и автоматизированным способом сервис обязан своевременно производить оценку соответствия требованиям законодательства Российской Федерации в области защиты информации и соблюдать иные требования к автоматизированной обработке персональных данных.</li>
  <li>4.5. При наличии согласия субъекта персональных данных или соответствующих федерального закона, акта Президента Российской Федерации, акта Правительства Российской Федерации или акта Министерства цифрового развития, связи и массовых коммуникаций Российской Федерации, обработка персональных данных в сервисе может быть поручена третьему лицу, которое, в свою очередь, обязано неукоснительно соблюдать все требования к обработке персональных данных, установленных законодательством Российской Федерации в сфере персональных данных, а также настоящей Политикой.</li>
  <li>4.6. При обработке персональных данных сервис не осуществляет трансграничной передачи персональных данных.</li>
  <li>4.7. Сервис обязан соблюдать законные права пользователей в сфере обработки персональных данных, в том числе содействовать реализации прав пользователя, указанных в Политике, а также соблюдать иные требования к обработке персональных данных, установленные законодательством Российской Федерации.</li>
</ol>

<h2>Сроки обработки персональных данных</h2>

<ol>
  <li>5.1. Пользователь дает согласие на обработку персональных данных в сервисе без ограничения срока.</li>
  <li>5.2. Обработка персональных данных пользователя сервиса прекращается в случае удаления пользователем своей учетной записи.</li>
</ol>

<h2>Права и обязанности пользователей при обработке их персональных данных</h2>

<ol>
  <li>
    6.1. Пользователь сервиса имеет право:
    <ul>
      <li>использовать свои персональные данные посредством в любых законных целях, в том числе в целях, установленных Политикой;</li>
      <li>направлять сервису запросы на получение информации, касающейся обработки его персональных данных;</li>
      <li>оспаривать и обжаловать действия сервиса в сфере обработки персональных данных в порядке, установленном законодательством Российской Федерации;</li>
      <li>направлять свои предложения, вопросы и жалобы по использованию сервиса в службу поддержки <a href="mailto:support@becycled.me" tuiLink>support@becycled.me</a> и в иной форме, допустимой законодательством Российской Федерации;</li>
      <li>отозвать свое согласие на обработку своих персональных данных, предоставленное в целях изменения и обновления данных, посредством направления соответствующего отзыва с приложением документов, подтверждающих личность субъекта персональных данных (копии паспорта и номера СНИЛС);</li>
      <li>потребовать прекращения обработки своих персональных данных посредством направления требования об удалении своей учетной записи;</li>
      <li>реализовывать иные права, предоставленные ему законодательством Российской Федерации в сфере персональных данных и возникающие в связи с использованием сервиса.</li>
    </ul>
  </li>

  <li>
    6.2. Пользователь сервиса обязан:
    <ul>
      <li>самостоятельно обеспечивать сохранность своего пароля от учетной записи и нести ответственность за негативные последствия в виде неправомерного использования своих персональных данных третьими лицами, наступившие в результате небрежного отношения пользователя к своему паролю от учетной записи;</li>
      <li>предоставлять необходимую информацию в сервис при обязательности ее использования в целях, указанных в пункте 2.1 Политики, а также, если предоставление такой информации обусловлено требованиями законодательства Российской Федерации;</li>
      <li>обновлять обрабатываемые в сервисе персональные данные в случае их изменения, если автоматическое обновление указанных данных невозможно;</li>
      <li>осуществлять иные обязанности в сфере персональных данных, когда такие обязанности возникают у субъекта персональных данных в ходе обработки его персональных данных.</li>
    </ul>
  </li>
</ol>

<h2>Дополнительные условия</h2>

<ol>
  <li>7.1. Сервис вправе вносить в Политику изменения без согласия Пользователя по своему усмотрению в том числе, но не ограничиваясь, в случае, когда такие изменения обусловлены изменениями законодательства Российской Федерации, затрагивающего вопросы использования сервиса.</li>
  <li>7.2. Пользователь всегда может ознакомится с актуальными версиями Политики на Интернет-сайте <a href="https://becycled.me" tuiLink>https://becycled.me</a>. Продолжая пользоваться сервисом, Пользователь подтверждает согласие с внесенными изменениями в Политику.</li>
</ol>
